@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none !important;
}
img{
    max-width: 100%;
}
.container-fluid {
    max-width: 88%;
    width: 100%
}
/**top-row**/
.top-row {
    background: #3873e7;
    width: 100%;
}
.logo-top {
    line-height: 46px;
}
.logo-top span {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-left: 10px;
}
.social-top a i {
    color: #fff;
}
.social-top a i:hover {
    color: #ca0c5c;
}
.social-top a {
    padding: 0px 10px;
    font-size: 18px;
}
.social-top {
    height: 100%;
    line-height: 46px;
}
.btntop {
    background: #1C4271;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 46px;
    display: inline-block;
    padding: 0px 40px;
}
.btntop:hover {
    color: white;
    background: #c70038;
}
/**top-row close**/

/**middle-header close**/
.middle-header {
    width: 100%;
}
.middle-header ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.middle-header ul li {
    display: inline-block;
}
.middle-header .bar-middle-right {
    width: 100%;
}
.middle-header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.middle-header ul li a {
    border-left: 1px solid #A6A6A6;
    display: inline-block;
    font-size: 22px;
    color: #1C4271;
    padding: 20px 25px;
}
.middle-header ul li a:hover {
    color: #c70038;
}
.middle-header ul li .toggle-bar {
    border: 0px;
    color: #fff;
    background: #1C4271;
    padding: 20px 30px;
    font-size: 22px;
    cursor: pointer;
}
.middle-header ul li .toggle-bar:hover {
    background: #c70038;
    color: #fff;
}
/**middle-header close**/

/**banner-header start**/
.banner-sec {
    width: 100%;
    position: relative;
    display: inline-block;
}

.banner-sec .carousel-fluid {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.banner-sec .banner-col-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .banner-bg {
    padding: 0px;
    position: relative;
}

 .banner-bg .bg-img {
    width: 100%;
}
.banner-bg .bottom-bg {
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 0;
    width: 100%;
}

.col-right-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9;
}
.banner-col-right{
    height: 100%;
}
.banner-sec .carousel-fluid .row {
    height: 100%;
    align-items: center;
    padding-bottom: 110px;
}
.text h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.76);
}

.text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-align: justify;
    color: #FFFFFF;
}
.text p span{
     display: block;
}
.button {
    background: #CA0C5C;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF !important;
    padding: 15px 30px;
    margin-top: 50px;
    display: inline-block;
}
.banner-sec .button:hover {
background: #fba714 !important;
color: #fff !important;
}
.banner-sec .carousel-control-next, .banner-sec .carousel-control-prev {
    opacity: 1;
}
.banner-sec .carousel-control-prev-icon {
    width: 44px;
    height: 44px;
    background: #fff;
    opacity: 1;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-sec .carousel-control-prev-icon::before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    color: #1C416D;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f053";
    font-size: 20px;
}

.banner-sec .carousel-control-next-icon {
    width: 44px;
    height: 44px;
    background: #fff;
    opacity: 1;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-sec .carousel-control-next-icon::before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    color: #1C416D;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    content: "\f054";
    font-size: 20px;
}
.banner-sec .carousel-control-prev, .banner-sec.carousel-control-next  {
    width: 6%;
}
.white-btn {
    color: #CA0C5C !important;
    background: #fff !important;
}
.blue-btn {
    background: #003679 !important;
    color: #fff !important;
}
/**banner-header close**/

/*start-standard-icons-sec*/
.standard-icons-sec .col {
    padding: 0 5px;
}
.standard-icons-sec {
    margin-top: -70px;
    position: relative;
    z-index: 9;
}
.standar-home-sec {
    margin-top: -100px;
}
.standard-icon-inner {
    text-align: center;
    padding: 40px 10px 20px;
    box-shadow: 0px 3px 9px #000000;
    min-height: 170px;
    transition: all 0.5s;
}
.standard-icon-inner:hover {
    margin-top: -10px;
}
.standard-icon-inner h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}
.clr-1 {
    background: #006F34;
}
.clr-2 {
    background: #FBA714;
}
.clr-3 {
    background: #612D90;
}
.clr-4 {
    background: #DC6800;
}
.clr-5 {
    background: #CA0C5C;
}
.clr-6 {
    background: #2D2B96;
}
.clr-7 {
    background: #C70038;
}
/*close-standard-icons-sec*/


/*start-upcoming-project-sec*/
.padding-sec{
    padding: 70px 0;
}
.executive-officials .slick-initialized .slick-slide img {
    width: 70%;
}
h3.heading {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #1C416D;
    margin-bottom: 30px;
}

.upcoming-inner.slick-slide.slick-active {
    outline: none;
}
.upcoming-project-sec .slick-initialized .slick-slide {
    position: relative;
}
.upcoming-project-sec button.slick-prev.slick-arrow {
    top: -50px;
    width: auto;
    right: 50px;
    left: auto;
}
.upcoming-project-sec button.slick-next.slick-arrow {
    top: -50px;
    right: 0px;
}
.upcoming-project-sec ul.slick-dots {
    display: none !important;
}
.slick-list.draggable {
    padding: 20px 0px 0;
}
.project-title-btn {
    position: absolute;
    top: 0;
    right: 15px;
}
.project-title-btn h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #1c416d;
    padding: 4px 18px;
}
.upcoming-inner p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175.6%;
    color: #333333;
    padding-top: 15px;
    padding-right: 15px;
}
.up-sec {
    padding: 0 15px;
}
.up-sec-box {
    padding: 0px 15px;
}

.col-slide img {filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));width: 100%;border-radius: 3px;}

.upcoming-project-sec .slick-list.draggable {
    margin: 0px -15px;
}
/*close-upcoming-project-sec*/

/*start-news-event-sec*/
.news-event-sec {
    background-image: url(../image/news-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
/*background for work in pregress */
.work-in-progress{
    background: whitesmoke;
    width: 100%;
}
.news-event-sec h3.heading {
    color: #fff;
    margin-bottom: 70px;
}
.left-side-news img {
    box-shadow: 0 0 10px #333333b5;
    width: 100%;
    border-radius: 3px;
}
.right-side-news img {
    width: 155px;
    border-radius: 3px;
    display: inline-block;
}
.news-event-sec p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    color: #FFFFFF;
    padding-left: 20px;
    max-width: 440px;
    margin-bottom: 0;
}
.news-event-sec a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    color: #FFFFFF;
    padding-left: 20px;
    max-width: 440px;
    margin-bottom: 0;
}
.inner-img-event {
    display: flex;
    padding: 15px;
}
.inner-img-event:hover {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
.left-side-news p {
    padding-left: 0;
    max-width: none;
    padding-top: 15px;
}
/*close-news-event-sec*/

/*start-testimonials-sec*/
.testimonails-sec {
    background-image: url(../image/testimonial-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonails-sec .carousel-inner {
    padding: 70px 70px 120px;
    border: 2px solid #fff;
    border-radius: 3px;
    height: 100%;
}
.testimonails-sec .client-content {
    display: flex;
}
.client-content i {
    font-size: 45px;
    color: #fff;
    padding-right: 80px;
}

.tstimonial-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    text-align: justify;
    color: #FFFFFF;
}
.testimonails-sec a.carousel-control-prev {
    bottom: 30px;
    align-items: flex-end;
    left: 40px;
    width: 40px;
}
.testimonails-sec a.carousel-control-prev span {
    width: 25px;
}
.testimonails-sec a.carousel-control-next span {
    width: 25px;
}
.testimonails-sec a.carousel-control-next {
    align-items: flex-end;
    bottom: 30px;
    left: 90px;
    width: 40px;
}
/*close-testimonials-sec*/

/*start-footer*/
footer {
    background-image: url(../image/footer-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0 !important;
}
.footer-social {
    padding-top: 20px;
}

.footer-social img {
    padding-right: 15px;
}
footer h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
    color: #FBA714;
    margin-bottom: 25px;
}
ul.footer-links {
    padding-left: 0;
}
ul.footer-links a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

ul.footer-links li::marker {
    font-size: 0;
}
ul.footer-links li {
    padding-bottom: 30px;
}
ul.footer-links.footer-links-two li {
    display: inline-block;
    width: 49%;
}
footer span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FBA714;
    padding-bottom: 10px;
    display: block;
}
ul.footer-links.footer-links-three li {
    padding-bottom: 2px;
}
ul.footer-links a:hover {
    color: #fba714;
}
.footer-end p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.footer-end {
    padding: 20px 0;
    border-top: 1px solid #CBCBCB;
}
.footer-end .col-lg-6:last-child {
    text-align: right;
}
.footer-end .col-lg-6{
    padding: 0;
}
footer .row:first-child {
    padding-bottom: 100px;
}
/*close-footer*/


/*governor-office-page*/

/*start-governor-office-sec*/
.governor-office-banner {
    background-image: url(../image/news-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0 140px;
}
.governor-logo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.office-content {
    text-align: center;
}
.office-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.office-content h2 span {
    display: block;
    font-weight: 600;
}
.office-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    text-align: center;
    color: #FFFFFF;
    max-width: 800px;
}
/*close-governor-office-sec*/

/*start-message-governor-sec*/
.message-governor-sec {
    background-image: url(../image/testimonial-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px;
    margin-top: -100px;
}
.message-governor-sec h3.heading {
    color: #fff;
    text-align: center;
}
.message-governor-sec img {
    width: 100%;
}
.message-governor-sec .from-governor {
    background: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
.message-governor-sec .col-lg-5 {
    padding-right: 0;
}
.message-governor-sec p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    text-align: justify;
    color: #1C4271;
    margin-bottom: 40px;
}
.message-governor-sec .col-lg-7 {
    padding: 80px 50px;
}
.message-governor-sec strong {
    display: block;
}
.governor-buttons a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    padding: 21px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.governor-buttons a:hover {
    background: #fba714;
}
.governor-buttons .col-lg-6 {
    text-align: center;
}
.governor-buttons {
    padding-top: 40px;
}
/*close-message-governor-sec*/

/*start-executive-officials-sec*/
.executive-officials {
    background: #fff;
}
.executive-officials h3.heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    border-bottom: 2px solid #000;
    padding-bottom: 12px;
}
.executive-officials button.slick-next.slick-arrow {
    top: -70px !important;
}
.executive-officials button.slick-prev.slick-arrow {
    top: -70px !important;
}
.up-sec h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
}
.up-sec h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #2D2B96;
}
/*close-executive-officials-sec*/

/*Progress-sec*/
.heading-row {
    text-align: center;
    margin-bottom: 40px;
}
.heading-row h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #004598;
    margin: 0;
}
.progress-slide-sec {
    width: 100%;
}

.progress-slide-sec .slick-list.draggable {
    padding: 0px;
}

.progress-slide-sec .slick-slide img {
    width: 100%;
    max-height: 700px;
    cursor: -webkit-grab;
    object-fit: cover;
    border-radius: 3px;
}
.progress-slide-sec .slider-nav-thumbnails .slick-slide {
    padding: 0px 15px;
}

.progress-slide-sec .slider-nav-thumbnails .slick-slide img {
    max-height: 200px;
    height: 200px;
    border-radius: 3px;
    cursor: pointer;
}

.progress-slide-sec .slider-nav-thumbnails .slick-list.draggable {
    margin: 0px -15px;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
.slider-nav-thumbnails {
    margin: 0px !important;
}
.progress-slide-sec .slick-arrow {
    background: white !important;
    position: absolute;
    left: 0;
    bottom: 0;
    top: auto;
    width: 60px;
    height: 60px;
    color: #000;
    z-index: 9;
}
.progress-slide-sec
 button.slick-next {
    left: 60px;
    border-bottom: 1px solid #ddd;
}
.progress-slide-sec
 button.slick-prev {border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;}
.progress-slide-sec .slick-arrow::before {
    color: #000;
}
/*Progress-sec close*/

/**menu**/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(28 66 113 / 0.97);
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
  z-index: 99;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  text-align: center;
  transition: 0.8s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left: 50px;
  cursor: pointer;
  color: #fff;
  width:auto;
}
#main {
  transition: margin-right 0.7s;
  padding: 16px;
}
.header-menus ul {
    width: 100%;
    display: inline-block;
}

.header-menus ul li {
    width: 48%;
    float: left;
    margin: 0 1%;
}
.header-menus ul li a {
    color: #Fff;
    border: 0px;
    cursor: pointer;
}

.header-menus ul li a {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
}
/**menu close**/

/***Question your Leaders start***/
.section-bg1 {
    background-image: url(../image/testimonial-bg.jpg);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    background-position: center;
}
.minus-margin-topbg {
    margin-top: -100px;
    padding-top: 160px;
}
.admin-heading .heading {
    color: #fff !important;
    border-color: #fff !important;
}
.admin-sector-sec .slick-prev::before {
    color: #fff !important;
}
.admin-sector-sec .slick-next::before {
    color: #fff !important;
}
.custom-admin-slide .up-sec {
    position: relative;
}
.custom-admin-slide .up-sec .sector {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1C4271;
    background: #fff;
    padding: 20px 0px;
    max-width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: 10%;
    width: 100%;
    left: 10%;
}
.custom-admin-slide .up-sec .admin-overbox {
    position: relative;
}

.admin-overbox img {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.74));
    border-radius: 3px;
}

body .custom-admin-slide .up-sec .name {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}
/***Question your Leaders Close***/
.section-bg2 {
    background-image: url(../image/1bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}
.economic-sector .slick-next::before {
    color: #fff !important;
}
.economic-sector .slick-prev::before {
    color: #fff !important;
}
.social-sector-sec .slick-next::before {
    color: #fff !important;
}
.social-sector-sec .slick-prev::before {
    color: #fff !important;
}

/***project-sec-start**/
.projects-tab-sec .nav-link.active {
    border-radius: 0px;
    background: transparent !IMPORTANT;
    border-color: #1C416D;
    color: #1C416D !important;
}
.projects-tab-sec .nav-link {
    border-bottom: 5px solid #1c416d00;
    font-weight: 500;
    font-size: 24px;
    color: #727272;
    padding: 0px 0px 5px;
}
.projects-tab-sec .nav-item {
    padding: 0px 20px;
}

.projects-tab-sec .nav-item a:hover {
    color: #1C416D;
}

.projects-tab-sec .projects-tab-sec {
    width: 100%;
}
.projects-tab-sec .nav-pills {
    border-bottom: 2px solid #1C416D;
}
.filter-showing-box {
    width: 100%;
    display: inline-block;
}

 .filter-showing-box .showing-box {
    width: 50%;
    display: inline-block;
}

.filter-showing-box .fillter-box {
    width: 50%;
    text-align: right;
    display: inline-block;
    float: right;
}

.filter-showing-box .showing-box p {
    font-weight: normal;
    font-size: 20px;
    line-height: 175.6%;
    color: #000000;
}
.filter-showing-box .fillter-box label {
    font-weight: normal;
    font-size: 20px;
    line-height: 175.6%;
    color: #000000;
    padding-right: 10px;
}
.filter-showing-box select {
    border: 1px solid #1C416D;
    padding: 10px 50px 10px 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    font-size: 20px;
    line-height: 175.6%;
    color: #000000;
}
.projects-tab-sec .tab-content-sec {
    width: 100%;
}
.projects-tab-sec {
    width: 100%;
}
.projects-tab-sec .tab-content-sec .col-lg-4 {
    margin: 40px 0px;
}
.projects-tab-sec .tab-content-sec .col-showingbx {
    width: 100%;
}
.col-showingbx .image-text {
    position: relative;
}
.col-showingbx .image-text img {
    width: 100%;
}
.col-showingbx .image-text img {
    filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.6));
    border-radius: 3px;
}
.col-showingbx .image-text h4 {
    position: absolute;
    right: 0;
    top: 0;
    background: #1C4271;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 25px;
}
.col-showingbx .image-text a {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
    display: inline-block;
}
.pagination-sec {
    width: 100%;
    padding: 50px 0px;
}

.pagination-sec .page-num {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.pagination-sec .page-num li {
    display: inline-block;
}

.pagination-sec .page-num li a {
    background: #1C416D;
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 175.6%;
    color: #FFFFFF;
}

.pagination-sec .page-num li .active {
    background: #CA0C5C !important;
}

.pagination-sec p {
    font-weight: normal;
    font-size: 22px;
    line-height: 175.6%;
    color: #000000;
    margin: 0px;
    text-transform: capitalize;
}
/***project-sec-close**/

/***appointments-sec**/
.appointments-sec .appointment-box {
    text-align: center;
    padding: 100px 0px;
}
.appointments-sec .appointment-box .icon-icon i {
    font-size: 100px;
    color: #fff;
}
.appointments-sec .appointment-box  p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    text-align: center;
    color: #FFFFFF;
    margin: 50px 0px;
}

.appointments-sec .appointment-box p span {
    display: block;
}
.appointments-sec .appointment-box p span a {
    color: #fff;
    font-weight: bold;
}
.appointments-sec .book-aapointment {
    margin-top: 0px;
    background: #042144;
}
.appointments-sec .book-aapointment:hover {
    color: #042144 !important;
    background: #fff;
}
/***appointments-sec close**/

/**calender-sec-start**/
.appointments-sec table {
    width: 100%;
}
.appointments-sec table .calendar-wrapper.load {
    width: 100%;
    overflow: hidden;
    border-radius: 10px
}
.appointments-sec table section.calendar-head-card {
    display: none;
}
.appointments-sec table .calendar-date-holder {
    width: 100%;
    height: 740px;
    overflow: initial !important;
}
.calendar-grid .calendar-labels span {
    border: 1px solid #D3D3D3 !important;
    padding: 15px;
    font-size: 18px;
}
.appointments-sec table .calendar-date-holder span.date a {
    min-height: 120px;
    text-align: left;
    padding: 20px;
    font-size: 18px;
}
.calendar-date-holder .calendar-dates .date.pm, .calendar-dates .date.nm {
    font-size: 18px;
}
.appointments-sec table .calendar-container {
    padding: 0px;
}
.appointments-sec table .calendar-container .calendar-labels span {
    padding: 25px;
    border-bottom: 0px !important;
    font-size: 17px;
    text-transform: uppercase;
}
.appointments-sec .calendar-date-holder .calendar-dates .date {
    border: 1px solid #D3D3D3 !important;
}

.calendar-box .calendar-top-selector {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.calendar-box .calendar-prev {
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.calendar-box .calendar-curr-month {
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    margin: 0px 5px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
}
.calendar-box .calendar-next {
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    width: auto;
    color: #fff;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.calendar-box .calendar-top-selector .head-calendar-bx {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.calendar-box .calendar-top-selector .calendar-heading {
    width: 100%;
    display: flex;
    align-items: center;
}

.calendar-box .calendar-top-selector .head-calendar-bx .calendar-next-sec {
    display: flex;
    flex-wrap: wrap;
}
.new-appointment {
    background: #042246;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
}
.new-appointment i {
    margin-right: 10px;
}
.calendar-heading h2 {
    font-weight: 500;
    font-size: 33px;
    line-height: 54px;
    color: #000000;
}
.appointments-calendar-sec {
    width: 100%;
}

.appointments-calendar-sec #pills-tab {
    display: flex;
    justify-content: center;
    margin: 30px 0px 60px !important;
    border-bottom: 2px solid #fff;
}

.nav-link {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    background: transparent !IMPORTANT;
    padding: 5px 30px;
}

.nav-pills .nav-link.active {
    border-bottom: 5px solid #FFFFFF;
    border-radius: 0px;
}

/**calender-sec-start close**/
/**quick-upcoming-sec**/
.quick-upcoming-sec {
    width: 100%;
}
.quick-upcoming-sec .quick-links-bx {
    background-image: url(../image/footer-bg.jpg);
    background-size: cover;
    background-repeat: repeat;
}
.quick-upcoming-sec .quick-links-bx h3 {
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
}
.quick-upcoming-sec .quick-links-bx  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.quick-upcoming-sec .quick-links-bx .padding-quick {
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.upcoming-project-slide {
    padding-top: 70px;
    padding-left: 30px;
}
.upcoming-project-slide .upcoming-text img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.45));
    border-radius: 3px;
}
.upcoming-project-slide  .upcoming-inner  {
    padding-left: 30px;
}
.upcoming-project-slide .slick-list.draggable {
    margin-left: -20px;
}
.upcoming-project-slide .slick-arrow {
    position: absolute;
    top: -53px;
}
.upcoming-project-slide .slick-next::before, .upcoming-project-slide .slick-prev::before {
    color: #1C4271;
    opacity: 1;
}
.upcoming-project-slide  button.slick-next.slick-arrow:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px;
}
.upcoming-project-slide button.slick-prev.slick-arrow:before {
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    font-weight: 900;
    font-size: 24px;
}

.upcoming-project-slide  button.slick-prev.slick-arrow {
    right: 130px !important;
    left: auto;
}

.upcoming-project-slide button.slick-next.slick-arrow {
    right: 70px !important;
}

.upcoming-project-slide h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #1C416D;
    margin-bottom: 30px;
}
.padding-quick ul li a {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    width: 100%;
    margin: 10px 0px;
    display: inline-block;
    padding: 25px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.budget {
    background: #FBA714;
}

.projects {
    background: #CA0C5C;
}

.activities {
    background: #C70038;
}

.news {
    background: #DC6800;
}

.notice-board {
    background: #3873E7;
}
.upcoming-project-slide .upcoming-text {
    position: relative;
}

.upcoming-project-slide .upcoming-text h5 {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #1C4271;
    padding: 15px 40px;
}

.upcoming-project-slide .upcoming-inner h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175.6%;
    color: #333333;
    margin-top: 30px;
}
.upcoming-project-slide .upcoming-inner h6 span{
    display: block;
}
.slide-projectbtn {
    width: 100%;
    text-align: center;
}
.slide-projectbtn .project-all {
    background: #042144;
    margin-top: 0px;
}
/**quick-upcoming-sec close**/

/**news-events***/

.news-event-sec .tab-pane img {
    width: 100%;
    object-fit: cover;
    max-height: 550px;
}
.news-event-sec .right-side-news {
    width: 100%;
    max-height: 650px;
    overflow: auto;
}

.news-event-sec .right-side-news .nav-link {
    width: 100% !important;
    max-width: 100%;
}

.news-event-sec .right-side-news .nav-pills .nav-link.active .inner-img-event {
    background: rgba(255, 255, 255, 0.25) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: 0px;
}

.news-event-sec .right-side-news .nav-pills .nav-link.active {
    border: 0px;
}
.citizen-user-sec .check {
    display: none;
}
.citizen-user-sec.active .citizen-user-inner {
    border-color: #CA0C5C;
}
.citizen-user-sec.active .dot-citizen-btn {
    background: #CA0C5C;
}
.citizen-user-sec.active .dotcs-none {
    display: none;
}
.citizen-user-sec.active .check {
    display: block;
    margin: 0 auto;
}
.citizen-user-sec.active .citizen-user-inner .check {
    margin: 0;
}
.citizen-user-sec{
    cursor: pointer;
}
.citizen-user-sec.active h3 {
    color: #fff;
}
.citizen-user-sec.active p {
    color: #fff;
}


.news-event-sec .right-side-news::-webkit-scrollbar-track
{
border-radius: 5px;
background-color: #c70b5b;
}

.news-event-sec .right-side-news::-webkit-scrollbar
{
width: 4px;
background-color: #c70b5b;
}

.news-event-sec .right-side-news::-webkit-scrollbar-thumb
{
border-radius: 5px;
background-color: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none !important;
}
img{
    max-width: 100%;
}
.container-fluid {
    max-width: 88%;
}
/*start-contact-form*/
.contact-form {
    width: 100%;
}
.contact-form .inputBox label {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    display: block;
    padding-bottom: 20px;
}
.contact-form .inputBox input, .contact-form .inputBox select, .contact-form .inputBox textarea {
    background: #F5F5F5;
    border-radius: 2px;
    border: transparent;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    margin-bottom: 30px;
}
.contact-form .inputBox label span {
    color: #FF0000;
}
.contact-form form {
    background: #fff;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 60px;
    border-top: 10px solid #FF0000;
}
.contact-form .formBox {
    max-width: 1300px;
    margin: 0 auto;
}
.contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
    color: #000;
}
.contact-form .inputBox textarea {
    height: 182px;
}
.search-form-sec {
    display: flex;
    align-items: flex-start;
}
.search-form-sec button {
    background: #6A6A6A;
    border: none;
    width: 15%;
    height: 57px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.search-form-sec button:hover {
    background: #042144;
}

.contact-form input.button-one {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 20px;
    margin-top: 30px;
    background: #c90c5c;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.contact-form input.button-one:hover {
    background: #004598;
}

.contact-form input.button-two {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 20px;
    margin-top: 30px;
    background: #004598;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.contact-form input.button-two:hover {
    background: #c90c5c;
}
.contact-form .formBox p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    display: flex;
    align-items: center;
}
.contact-form .formBox p a {
    color: #CA0C5C;
    text-decoration: underline !important;
}
.contact-form .formBox p label {
    padding-left: 20px;
}
.contact-form .formBox img {
    width: 100%;
}
/*close-contact-form*/

.kogas-enrolment-head {
    background: linear-gradient(0deg, #004598, #004598),  #004598;
    background-blend-mode: normal, multiply, normal;
    padding: 19px;
    width: 100%;
}
.contact-form {
    background: linear-gradient(0deg, #3873E7, #3873E7),  #CA0C5C;
    background-blend-mode: normal, multiply, normal;
    padding: 60px 0px;
}
.footer {
    background: #004598;
    padding: 30px 0px;
}

.footer .text-center {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.choose_img {
    position: relative;
}

.choose_img #myfile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 0px !important;
    box-shadow: none !important;
    font-size: 0px !important;
    line-height: 0px !important;
    outline: 0px;
    opacity: 0;
    cursor: pointer;
}
.registraion-options {
    background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    width: 40%;
    margin: auto;
}

.registraion-options h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.registraion-options p {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #000000;
}
.registraion-options strong {
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    color: #000000;
    margin-bottom: 30px;
    display: inline-block;
}

.start-registration-sec.contact-form {
    background: rgba(0, 69, 152, 0.95);
}
#office, #sub-dep, #portfolio {
    color: #000;
}
.heading h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 50px;
    padding-bottom: 0px;
}
.cover-footer {
    padding: 30px 0px;
    background: #fff;
    border-top: 10px solid #FF0000;
}
.cover-footer p.text-center {
    color: #004598;
}
