/*start-government-area-sec*/
.local-area-content a {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}
.local-area img {
    width: 100%;
}
.local-area-content {
    border: 1px solid #D2D2D2;
    text-align: center;
}
.local-area:hover {
    background: #CA0C5C;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.local-area:hover .local-area-content {
    border: 1px solid #CA0C5C;
}
.local-area:hover .local-area-content a{
    color: #fff;
}
.government-area-sec h3.heading {
    text-align: center;
    color: #000;
    margin-bottom: 60px;
}
.local-area {
    margin-bottom: 40px;
}
/*close-government-area-sec*/

/*start-ministries-sec*/
.ministry-inner img {
    width: 100%;
    border-radius: 3px;
}
.ministry-inner a {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    display: inline-block;
    padding-top: 20px;
}
.ministry-inner a:hover {
    color: #2D2B96;
}
.ministry-inner img:hover {
    box-shadow: 0 0 20px #696969b8;
}
.ministries-sec .ministry-agriculture {
    border-bottom: 1px solid #D2D2D2;
    padding: 60px 0 50px;
}
.ministries-sec .ministry-agriculture:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
/*close-ministries-sec*/



/*start-single-local-govt*/
.single-local-govt h3.heading {
    color: #2D2B96;
}
.single-local-govt p {
    font-weight: 400;
    font-size: 18px;
    line-height: 175.6%;
    text-align: justify;
    color: #000000;
    margin-bottom: 32px;
}
.single-local-govt p a {
    color: #004598;
}
.country-state-sec img {
    width: 100%;
}
.population-area ul {
    margin-bottom: 0;
    border-bottom: 1px solid #D2D2D2;
    padding: 15px;
}
.population-area li::marker {
    font-size: 0;
}
.population-area ul li {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 175.6%;
    text-align: justify;
    color: #000000;
}

.population-area {
    border: 1px solid #d2d2d2;
}
.population-area ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175.6%;
    text-align: right;
    color: #004598;
}
.population-area ul:last-child {
    border-bottom: none;
}
.single-local-govt .row {
    padding-top: 40px;
}
/*close-single-local-govt*/

/*start-chairman-office-sec*/
.chairman-office {
    background-image: url(../image/testimonial-bg.jpg);
    width: 100%;
    background-repeat: repeat;
}
.chairman-img {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.74);
}
.chairman-img img {
    width: 100%;
}
.chairman-info {
    text-align: center;
    padding: 20px 0;
    background: #fff;
}
.chairman-info h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #2D2B96;
}
.chairman-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.chairman-content h3.heading {
    color: #fff;
}
.chairman-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.chairman-content .governor-buttons a {
    margin-bottom: 30px;
}
/*close-chairman-office-sec*/


/*start-contact-form*/
.contact-form {
    background-image: url(../image/testimonial-bg.jpg);
    width: 100%;
    background-repeat: repeat;
    padding-top: 190px;
    margin-top: -100px;
    padding-bottom: 100px;
}
.contact-form .inputBox label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    display: block;
    padding-bottom: 20px;
}
.contact-form .inputBox input, .contact-form .inputBox select, .contact-form .inputBox textarea {
    background: #F5F5F5;
    border-radius: 2px;
    border: transparent;
    width: 100%;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #B7B7B7;
    margin-bottom: 30px;
}
.contact-form .inputBox label span {
    color: #FF0000;
}
.contact-form form {
    background: #fff;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 60px;
}
.contact-form .formBox {
    max-width: 1400px;
    margin: 0 auto;
}
.contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
    color: #B7B7B7;
}
.contact-form .inputBox textarea {
    height: 182px;
}
.search-form-sec {
    display: flex;
    align-items: flex-start;
}
.search-form-sec button {
    background: #6A6A6A;
    border: none;
    width: 15%;
    height: 57px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.search-form-sec button:hover {
    background: #042144;
}
.contact-form input.button-two {
    background: #042144;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 20px;
    margin-top: 30px;
}
.contact-form input.button-two:hover {
    background: #c90c5c;
}
.contact-form .formBox p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    display: flex;
    align-items: center;
}
.contact-form .formBox p a {
    color: #CA0C5C;
    text-decoration: underline !important;
}
.contact-form .formBox p label {
    padding-left: 20px;
}
.class_checkbox {
    width: 35px;
    height: 35px;
    background-image: url(../image/checkbox.png);
    background-size: cover;
}
.class_checkbox.checked {
    background-image: url(../image/check-icon.png);
}
.contact-form .formBox img {
    width: 100%;
}
/*close-contact-form*/

/*start-commisioner-office-sec*/
.commisioner-office {
    margin-top: -100px;
    padding-top: 160px;
}
.governor-buttons .modal-dialog {
    max-width: 900px;
}
.governor-buttons .modal-header {
    display: block;
}
.governor-buttons .modal-header h5 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    text-align: center;
}
.communication-popup .col {
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    padding: 30px 0;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.communication-popup i {
    color: #C4C4C4;
    font-size: 30px;
}
.communication-popup h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
    padding-top: 10px;
}
.communication-popup .col:hover {
    background: #1C4271;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
}

.communication-popup .col:hover i {
    color: #fff;
}

.communication-popup .col:hover h6 {
    color: #fff;
}
.governor-buttons .modal-body {
    padding: 60px 25px;
}

/*close-commisioner-office-sec*/

/*start-project-table*/
.red-bg {
    background-image: url(../image/testimonial-bg.jpg);
    width: 100%;
    background-size: auto;
    background-repeat: repeat;
}
.project-table {
    margin-top: -100px;
    padding-top: 160px;
}
.project-table li {
    background: #003B83;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #FFFFFF;
    text-align: right;
    padding: 15px 40px;
    margin-bottom: 20px;
    display: block;
    width: 30%;
}
.project-table li:last-child {
    color: #000000;
    background: #fff;
    width: 70%;
}
.project-table ul {
    display: flex;
    margin-bottom: 0;
    max-width: 1170px;
    margin: auto;
}
/*close-project-table*/

/*start-project-discription*/
.project-full-banner img {
    width: 100%;
}
.project-discription p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    text-align: justify;
    color: #000000;
    margin-bottom: 30px;
}
.project-full-banner {
    padding-bottom: 40px;
}
.project-images img {
    width: 100%;
}
.clr-8 {
    background: #FF0000;
}
.project-images {
    padding: 20px 0;
}
/*close-project-discription*/

.ministry-title h3.heading {
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*start-about-kogas*/
.about-kogas h3.heading {
    text-align: center;
}
.about-kogas p.heading {
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.about-kogas-images img {
    width: 100%;
    padding-bottom: 16px;
}
.about-kogas-images {
    padding: 60px 0;
}
.about-kogas p {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #000000;
}
.about-kogas-content p {
    margin-bottom: 35px;
}
/*close-about-kogas*/

/*start-contact-us*/
.contact-us form {
    box-shadow: none;
    padding: 0;
    background: transparent;
}
.contact-us {
    background: #fff;
}
.contact-us input.button-two {
    width: auto;
    padding: 20px 50px;
}
.contact-info h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 40px;
}
.contact-info ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #CA0C5C;
}
.contact-info ul li {
    padding-bottom: 20px;
}
.contact-info ul {
    margin-bottom: 50px;
    padding-left: 0;
}
.contact-info ul li::marker {
    font-size: 0;
}
.contact-info .footer-social {
    padding-top: 0;
}
.map-img {
    padding-top: 70px;
}
/*close-contact-us*/

/*--------------------------------------------------------------
# Faq
--------------------------------------------------------------*/
.faq h3.heading {
    color: #2D2B96;
}
.faq .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.faq .content p {
  font-size: 15px;
  color: #848484;
}

.faq .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li + li {
  margin-top: 15px;
}

.faq .accordion-list a {
    display: block;
    position: relative;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 24px;
    line-height: 175.6%;
    color: #000000;
    border-bottom: 1px solid #CBCBCB;
    padding: 20px 0 30px;
}
.faq .accordion-list i {
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 32px;
    color: #000;
}

.faq .accordion-list p {
    margin-bottom: 0;
    padding: 30px 0 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    text-align: justify;
    color: #000000;
}

.faq .accordion-list .icon-show {
  display: none;
}

.faq .accordion-list a.collapsed {
  color: #343a40;
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}
/*--------------------------------------------------------------
# Faq
--------------------------------------------------------------*/

/*start-directory-table*/
.filter-showing-box .showing-box-two input {
    border: 1px solid #1C416D;
    padding: 10px 50px 10px 20px;
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    line-height: 175.6%;
    color: #000000;
    width: 100%;
}
.showing-box-two form {
    width: 60%;
    position: relative;
}
.showing-box-two button {
    position: absolute;
    right: 14px;
    background: transparent;
    border: none;
    top: 14px;
}
.filter-showing-box .showing-box-two input::placeholder {
    color: #000;
}
.showing-box-two button i {
    font-size: 24px;
    color: #1c416d;
}
.directory-table table td, .directory-table table th {
    font-weight: 500;
    font-size: 20px;
    line-height: 175.6%;
    color: #000000;
    padding: 15px 10px;
    text-align: left;
    border: 2px solid #1C4271;
}
.directory-table table {
    width: 100%;
}
.directory-table table th {
    color: #fff;
    background: #1c416d;
    border-right: 2px solid #fff;
}
.directory-table table th:last-child {
    border-right: 2px solid #1c416d;
}
.directory-table table i {
    color: #1c416d;
    font-size: 25px;
    padding-right: 20px;
}
.directory-table table i:hover {
    color: #ca0c5c;
}
.directory-table {
    padding-top: 30px;
}
/*close-directory-table*/

/*start-tranding-topics-sec*/
.new-topic-sec a {
    background: #042144;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 20px 40px;
}
.single-topic {
    background: #F5F5F5;
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 30px;
}
.topic-title h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #2D2B96;
}
.single-topic p {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #333333;
    margin: 15px 0 25px;
}
.topic-title h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #333333;
}
.topic-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-topic-sec {
    border-top: 1px solid #CBCBCB;
    padding-top: 30px;
}
.tranding-topics h3.heading {
    margin-bottom: 10px;
}
.topic-button a {
    font-weight: 500;
    font-size: 14px;
    line-height: 175.6%;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px;
    min-width: 200px;
}
.new-topic-sec a:hover {
    background: #fba714;
}
.topic-button a:hover {
    background: #fba714;
}
/*close-tranding-topics-sec*/

/*start-discussion-comment-sec*/
.discussion-comment h3.heading {
    color: #2D2B96;
    margin-bottom: 15px;
}
.discussion-comment p {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #333333;
    margin-bottom: 30px;
}
.discussion-comment span {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #000000;
}
.discussion-comment p a {
    color: #CA0C5C;
}
.comment-title h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}
.comment-title h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.comment-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
    padding-bottom: 10px;
}

.comment-section {
    padding-top: 70px;
}
.like-share-comments {
    background: #F5F5F5;
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 30px;
}
.comments-single-section {
    padding-top: 50px;
}
.minutes-title h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.minutes-title h5 {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    color: #CA0C5C;
}
.minutes-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.minutes-title {
    padding-bottom: 10px;
}
.reply-btns a {
    font-weight: 500;
    font-size: 14px;
    line-height: 175.6%;
    text-decoration-line: underline !important;
    color: #333333;
    margin-right: 50px;
}
.like-share-white {
    background: #fff;
    margin-bottom: 0;
    margin-top: 30px;
}
a.view-more-replies {
    font-weight: normal;
    font-size: 18px;
    line-height: 175.6%;
    text-decoration-line: underline !important;
    color: #CA0C5C;
    margin-top: 20px;
    display: inline-block;
}
.comment-frame-sec h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}
.comment-frame-sec {
    padding-top: 30px;
}
.comment-frame-sec a.comment-frame-btn {
    background: #042144;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 20px 40px;
    margin-top: 30px;
    display: inline-block;
}
.comment-frame-sec a.comment-frame-btn:hover {
    background: #fba714;
}

/*close-discussion-comment-sec*/

/*start-volunteer-sec*/
.volunteer-sec h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}
/*close-volunteer-sec*/

/*start-registration-sec*/
.registration-sec {
    background-image: url(../image/news-bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-logo-sec {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register-form {
    padding: 100px 0;
}
.register-form h3.heading {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
.register-form p.heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #FFFFFF;
}
.citizen-user-inner {
    border: 4px solid #fff;
    border-bottom: none;
    padding: 60px 40px;
}
.citizen-user-sec h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #D3D3D3;
    padding-top: 30px;
}
.citizen-user-sec p {
    font-weight: 500;
    font-size: 18px;
    line-height: 175.6%;
    color: #D3D3D3;
    margin: 20px 0 0px;
}
.dot-citizen-btn {
    background: #D3D3D3;
    text-align: center;
}
.dot-citizen-btn a {
    width: 100%;
    display: inline-block;
    padding: 20px 0;
}
.register-citizen {
    padding-top: 70px;
}
.footer-register-sec {
    background: #fff;
    text-align: center;
    padding: 20px 0;
}
.footer-register-sec p {margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #004598;
}

/*start-registraion-form-page*/
.register-user-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.class_checkbox_two {
    width: 27px;
    height: 25px;
    background-image: url(../image/register-checktwo.png);
    background-size: cover;
}
.class_checkbox_two.checked {
    background-image: url(../image/register-check.png);
}
.register-inner-sec {
    background: #C60C5A;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 30px;
    width: 35%;
}
.register-inner-sec label {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 15px;
}
.register-inner-sec input {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    padding: 10px 35px 10px 0px;
}
.register-inner-sec input::placeholder {
    color: #fff;
}
.register-inner-sec .inputBox {
    padding-bottom: 30px;
}
.register-inner-sec h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin: 10px 0 30px;
}
label.governing-check-box {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 15px;
}
label.governing-check-box a {
    color: #fff;
    text-decoration: underline !important;
}
.submit-btns input.button-two {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    width: auto;
    border: none;
    background: #004598;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 8px 40px;
}
.submit-btns input.button-two:hover {
    background: #fba714;
}
.submit-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit-btns a {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    text-decoration: underline !important;
    color: #FFFFFF;
}
.check-site {
    display: flex;
    align-items: center;
}
.user-icon-req {
    position: relative;
}
.user-icon-req img {
    position: absolute;
    right: 0;
    bottom: 46px;
}
p.sign-in-table-sec {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.resert-pass-btn {
    text-align: center;
    padding-top: 50px;
}
.resert-pass-btn a {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
.submit-btns-verify {
    width: 100%;
    padding-bottom: 50px
}
.submit-btns-verify input.button-two {
    width: 100% !important;
}
.resert-pass-btn-two {
    padding-top: 0;
}
.resert-pass-btn-two a {
    text-decoration: underline !important;
}
form.otp-no-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
form.otp-no-form input {
    background: #fff;
    margin: 0 25px;
    width: 20%;
    padding: 10px 5px;
    color: #525252;
}
/*close-registraion-form-page*/
/*close-registration-sec*/
